@use "@shared/styles" as *;

.phpShortcodesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
        i {
            margin-right: .5rem;
        }
    }

    @media (width >= $md){
        grid-template-columns: repeat(3, 1fr);
    }

    @media (width >= $lg){
        grid-template-columns: repeat(4, 1fr);
    }

    @media (width >= $xl){
        grid-template-columns: repeat(5, 1fr);
    }
}

.reactShortcodesTable {
    border-collapse: collapse;
    
    tr {
        &:first-child {
            th:first-child {
                border: 0;
            }
        }

        th, td {
            text-align: center;
            border: 1px solid black;
            padding: .2rem .5rem;
            border-width: 1px 2px 1px 2px;
        }
        
        th {
            background-color: whitesmoke;
            border-width: 2px;
        }
    }
}