@use "@shared/styles" as *;

.icon {
    border-radius: .5rem;
    color: white;
    background: $info;
    box-shadow: inset 0 0 4px black;
    padding: .3rem;

    &:hover {
        // outline: 1px solid white;
    }
}